// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the common.variables.styl file
@import 'common.variables'

// Material only Quasar variables overwrites
// -----------------------------------------

// --- colors
$white                  = #FFFFFF
$black                  = #000000
$grey                   = #818181

$colors = 'white', 'black', 'grey'

for color in $colors
  .color-{ color }
    color: $ + color !important

// --- theme colors
$primary                = #262626
$secondary              = #121212
$tertiary               = #555

$neutral                = #E0E1E2
$positive               = #21BA45
$negative               = #DB2828
$info                   = #31CCEC
$warning                = #F2C037

// --- body colors
$body-color             = $white
$body-background        = #434343

// --- fonts
$typography-font-family   = Lato, Roboto, -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif

// --- base padding
$base-padding-top         = 35px
$base-padding-right       = 45px
$base-padding-bottom      = 35px
$base-padding-left        = 45px
$base-padding             = $base-padding-top $base-padding-right $base-padding-bottom $base-padding-left

// --- transitions
$transition-duration      = .3s
$transition-property      = cubic-bezier(.25, .8, .5, 1)
