{
  "presets": [
    [
      "@babel/typescript",
      {
        "modules": false
      }
    ],
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": false,
        "useBuiltIns": "usage"
      }
    ],
    [
      "@babel/preset-stage-2",
      {
        "modules": false,
        "loose": false,
        "useBuiltIns": true,
        "decoratorsLegacy": true
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/transform-runtime", { "polyfill": false, "regenerator": false }]
  ],
  "comments": false
}
