<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <script>
        const result = {
            error: '{errorCode}',
            access_token: '{accessToken}',
            expires_in: {expiresIn},
            success: {isSuccess}
        }
        const targetOrigin = '{targetOrigin}'
        parent.postMessage(result, targetOrigin)
        console.log(result)
    </script>
</head>
<body></body>
</html>
