@import '~variables'

// --- scale typography screen size -> font
// --- from https://css-tricks.com/books/volume-i/scale-typography-screen-size/
scaleTypographyFontSize($value)
  let $expression = 'calc(%s + (26 - 14) * ((%s - 300px) / (1600 - 300)))'
  return $expression % ($value $vw)

// --- scale typography screen size -> line height
// --- from https://css-tricks.com/books/volume-i/scale-typography-screen-size/
scaleTypographyLineHeight($value)
  let $expression = 'calc(%s + (1.5 - 1.2) * ((%s - 300px) / (1600 - 300)))'
  return $expression % ($value $vw)
