@import '~variables'
@import '@functions.styl'

// --- font scale when
// --- screen is desktop
fontScaleOnlyDesktop($default, $scale = $default)
  font-size: $default
  @media (max-width $breakpoint-md-min)
    font-size: scaleTypographyFontSize($scale)

// --- line height scale when
// --- screen is desktop
lineHeightScaleOnlyDesktop($default, $scale = $default)
  line-height: $default
  @media (max-width $breakpoint-md-min)
    line-height: scaleTypographyLineHeight($scale)

// --- set opacity
doOpacity($value)
  opacity: $value
