.app-layout
  background-color: inherit

  &__header
    background-color: $header-background

  &__container
    background-color: $page-background

  &__footer
    background-color: $footer-background
