*,
*::before,
*::after
  box-sizing: border-box

html
  font-size: 62.5%

body
  background-color: $body-background
  color: $white
  font-family: Lato, 'Lucida Grande', Tahoma, Sans-Serif
  font-weight: normal
  fontScaleOnlyDesktop(1.4rem)
  lineHeightScaleOnlyDesktop(1.5em)

a[class]:hover
  color: inherit
  text-decoration: none

.q-layout-page
  padding

// --- lists
.list
  margin: 0
  padding: 0
  list-style-type: none
