*,
*::before,
*::after
  box-sizing: border-box

html
  font-size: 62.5%

body
  background-color: $tertiary
  color: $white
  font-family: Lato, 'Lucida Grande', Tahoma, Sans-Serif
  font-weight: normal
  fontScaleOnlyDesktop(1.4rem)
  lineHeightScaleOnlyDesktop(1.3em)

// --- colors
.color
  color: inherit
  &-gray-1
    color: $text-color-gray-1
  &-light-1
    color: $text-color-light-1
  &-light-2
    color: $text-color-light-2
  &-light-3
    color: $text-color-light-3

// --- titles
h2
  font-size: 3.2rem

.title
  letter-spacing: -.02em
  line-height: normal

  &--light
    font-weight: 300

  &--bold
    font-weight: bold

// --- links
a
  color: inherit
  &:hover
    color: inherit
    &[class]
      text-decoration: none

// --- cord padding
.cord-padding
  @media (max-width $breakpoint-sm-max)
   padding: ($space-base / 2)
  @media (min-width $breakpoint-md-min) and (max-width $breakpoint-md-max)
    padding: $space-base
  @media (min-width $breakpoint-lg-min) and (max-width $breakpoint-lg-max)
    padding: ($space-base * 1.8) ($space-base * 1.4)
  @media (min-width $breakpoint-xl-min)
    padding: ($space-base * 2.8) ($space-base * 2.4)

// --- lists
.list
  margin: 0
  padding: 0
  list-style-type: none

// --- links
.icon-box-link
  color: $white
  transition: opacity $transition-duration linear
  &:hover
    color: $white
    opacity: .7

// --- paragraph
.paragraph
  font-family: Lato
  font-style: normal
  font-weight: normal
  line-height: 3.2rem
  font-size: 1.6rem
  letter-spacing: -.02em
  color: $text-color-light-1

// --- fonts
.roboto
  font-family: Roboto

.lato
  font-family: Lato
